<style>
    .badge-info{
        font-size:16px;
    }
</style>

@{
    ViewData["Title"] = "Calculate Page";
}
@model CalculationResponse
    <div class="text-center">

        <div class="card">
            <h5 class="card-header">Cubic Weight</h5>
            <div class="card-body">
                <h5 class="card-title">Total Parcels : <span class="badge badge-info">@Model.TotalParcelCount</span> </h5>
                <h5 class="card-title"> Category : <span class="badge badge-info">@Model.Category</span></h5>
                <h5 class="card-title">Total Parcels  in <b>@Model.Category </b> category :  <span class="badge badge-info">@Model.ParcelCount</span></h5>
                <h5 class="card-title">Average cubic weight : <span class="badge badge-info">@Model.Average.ToString("f3") </span> <i>Kg</i></h5>
                <h5 class="card-title">Total cubic weight : <span class="badge badge-info"> @Model.TotalValue.ToString("f3")   </span> <i>Kg</i></h5>
            </div>
        </div>

    </div>
